.nav {
    grid-area: n;
    background-color: #5b5b5b;
    border-radius: 0 0 0 14px;
    padding: 10px 0 0 10px;
    min-height: 500px;
}

.item {
    color: #afafaf;
    margin-left: 20px;
}

.item.active:visited {
    color: gold;
}

