.nav {
    grid-area: n;
    background-color: #5b5b5b;
    border-radius: 0 0 0 14px;
    padding: 20px;
    min-height: 500px;
}

.item a {
    color: #c5c5c5;
    margin-left: 20px;
    text-decoration: none;
}

.item a.activeLink {
    font-weight: bold;
}

