.nav {
    grid-area: n;
    background-color: #464646;
    border-radius: 0 0 0 20px;
    padding: 10px 0 0 10px;
}

.item {
    color: #afafaf;
    margin-left: 20px;
}

.item.active:visited {
    color: gold;
}

