.app-wrapper {
    display: grid;
    width: 1200px;
    margin: 0 auto;
    grid-template-areas:
            "h h h"
            "n c c";

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    color: #e4ecf3;
}

.header {
    grid-area: h;
    background-color: #464646;
    border-radius: 20px 20px 0 0;
}

.header img {
    width: 40px;
}

.nav {
    grid-area: n;
    background-color: #464646;
    border-radius: 0 0 0 20px;
}

.content {
    grid-area: c;
    background-color: #464646;
    border-radius: 0 0 20px 0;
}

.content img {
    width: 100%;
}

a {
    color: darkgrey;
}