body {
    background-color: #5b5b5b;
}

.app-wrapper {
    display: grid;
    width: 1200px;
    margin: 0 auto;
    grid-template-areas:
            "h h h"
            "n c c";

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 8px;
    color: #e4ecf3;
    margin-top: 20px;
}

a:visited {
    color: gold;
}