body {
    background-color: #343434;
    font-family: "Roboto", Arial, sans-serif;
}

.app-wrapper {
    display: grid;
    width: 1200px;
    margin: 0 auto;
    grid-template-areas:
            "h h h"
            "n c c";

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 8px;
    color: #e4ecf3;
    margin-top: 20px;
    max-width: 100%
}

.app-content {
    grid-area: c;
    background-color: #5b5b5b;
    border-radius: 0 0 14px 0;
    padding: 10px 20px 10px 20px;
}

a:visited {
    color: #d5d5d5;
}